################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/agent/node_modules
/server/node_modules
